<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
	<body>
	<div th:if="${param.logout}" >Deslogado!</div>
	<form method="POST" action="/Login">
		<label>Login:</label>
		<input type="text" name="username" id="username"><br>
		<label>Senha:</label>
		<input type="password" name="password" id="senha"><br>
		<input type="submit" value="Cadastrar" id="cadastrar" name="cadastrar">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
</body>
</html>